html {
    height: 100%;
    background-image: url(/Multimedia/img/23\ \(3\ de\ 33\).webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


*{
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 3;
    position: absolute;
}

nav ul{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.582);
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    
}

nav ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav li {
    margin: auto;    
    display: block;
    position: relative;
    width: 100%;
    
}

nav a {
    display: flex;
    transition: background-color 0.5s ease;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    justify-content:center;
}



nav a:hover{
    justify-self: center;
    background-color: rgba(240, 248, 255, 0.781);
    color: black;
    
}

nav a i{
    margin-right: 10px;
}

nav ul li ul li a {
    justify-content: flex-start;
}



@media screen and (max-width: 600px) {
    html{
        background-image: url(/Multimedia/img/23\ \(3\ de\ 33\).webp);
    }
}



section {
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
    display: flex;
    padding: 100px;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.582);
}

section h1 {
    font-size: xx-large;
    color: aliceblue;
}

div {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 80%;
}

div img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s ease;
    position: sticky;
    z-index: 0;
    filter: contrast(90%);
}

div img:hover {
    cursor: crosshair;
    width: 20%;
    opacity: 1;
    filter: contrast(100%);
    z-index: 1;
}





