html {
    height: 100%;
    background-image: url(/Multimedia/img/23\ \(3\ de\ 33\).JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


*{
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 3;
    position: absolute;
}

nav ul{
    padding: 0;
    margin: 0;
    background-color: rgba(240, 248, 255, 0.781);
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    position: fixed;
    top: 0;
    
}

nav ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

nav ul li:hover > ul{
    display: block;
    
}

nav li {
    margin: auto;
    width: 100%;
    display: block;
    position: relative;
}

nav a {
    display: flex;
    transition: background-color 0.5s ease;
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    justify-self: center;
    background-color: rgb(80, 79, 79);
    color: aliceblue;
    
}


@media screen and (max-width: 600px) {
    html{
        background-image: url(Multimedia/img/23\ \(15\ de\ 33\).JPG);
        background-color: rgb(58, 58, 58);
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
    }

    .principal {
        display: flex;
    }

    .foto {
        width: 100%;
        height: auto;
        border: solid 5px
    }

    .foto img{
        width: 20px;
        height: 20px;
        border: solid 5px
    }
}










.principal {
    display: grid;
    padding: 30px;
    margin: 25px;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.247);
    grid-template-columns: 400px auto auto;
    transition: background-color 0.5s ease;
}

.principal:hover {
    background-color: rgba(0, 0, 0, 0.514);
}


.foto {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 300px;
    height: 300px;
}

.foto img {
    width: 100%;
    height: 100%;
    border-radius: 20cap;
    transform: scale(1);
    transition: transform 0.5s ease;
}


.foto img:hover {
    transform: scale(1.2);
}

.titulo{
    grid-column: 3/5;
    grid-row: 1/2;
    margin: 30px;
    color: aliceblue;
}

.cuerpo{
    grid-column: 3/5;
    grid-row: 2/4;
    margin: 30px;
    color: aliceblue;
    line-height: 2.0;
}

footer {
    padding: 10px;
    background-color: rgb(240, 248, 255);
    color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
