html {
    height: 100%;
    background-image: url(/Multimedia/img/23\ \(3\ de\ 33\).webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


*{
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 3;
    position: absolute;
}

nav ul{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.582);
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    
}

nav ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    
}

nav ul li:hover > ul{
    display: block;
    
}

nav li {
    margin: auto;
    width: 100%;
    display: block;
    position: relative;
    
}

nav a {
    display: flex;
    transition: background-color 0.5s ease;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    justify-content: center;
}



nav a:hover{
    background-color: rgba(240, 248, 255, 0.781);
    color: black;
    
}

nav a i{
    margin-right: 10px;
}

nav ul li ul li a {
    justify-content: flex-start;
}

@media screen and (max-width: 600px) {
    html{
        background-image: url(/Multimedia/img/23\ \(3\ de\ 33\).webp);
        background-color: rgb(58, 58, 58);
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
    }

    .principal {
        display: flex;
    }

    .foto {
        width: 100%;
        height: auto;
        border: solid 5px
    }

    .foto img{
        width: 20px;
        height: 20px;
        border: solid 5px
    }
}





.principal {
    border-radius: 20px;
    display: flex;
    padding: 30px;
    margin: 150px 40px 150px 30px;
    background-color: rgba(0, 0, 0, 0.582);
    transition: background-color 0.5s ease;
    justify-content: center;
    flex-flow: row wrap;
}

.principal:hover {
    
    background-color:rgba(51, 55, 58, 0.651);
}


.foto {
    max-width: 300px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
}

.foto img {
    width: 100%;
    height: 100%;
    border-radius: 20cap;
    transform: scale(1);
    transition: transform 0.5s ease;
}


.foto img:hover {
    transform: scale(1.2);
}

.titulo{

    margin: 30px;
    color: aliceblue;
}

.cuerpo{
    
    margin: 30px;
    color: aliceblue;
    line-height: 2.0;
}
